<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form  name="register" method="post" action="../insertmat/">
        {% csrf_token %}
        <h1>welcom</h1>
        <pre>
            id :<input type="text" name="id" value="" width="200"><br>
            player_one_id :<input type="text" name="player_one" value="" width="200"><br>
            player_two_id :<input type="text" name="player_two" value="" width="200"><br>
            winner_id :<input type="text" name="winner" value="" width="200"><br>
            tournament_id :<input type="text" name="tour" value="" width="200"><br>
            play_date_time  : <input type="datetime-local" name="play_date_time" value="" width="200"><br>
            <input type="submit" name="reg" value="Enter to add"  width="300" height="100">
        </pre>
    </form>
</body>
</html>