<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form  name="register" method="post" action="../insertplay/">
        {% csrf_token %}
        <h1>welcom</h1>
        <pre>
            id :<input type="text" name="id" value="" width="200"><br>
            name :<input type="text" name="name" value="" width="200"><br>
            member_id :<input type="text" name="member_id" value="" width="200"><br>
            <input type="submit" name="reg" value="Enter to add player"  width="300" height="100">
        </pre>
    </form>
</body>
</html>